apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - files:
      - capacity-experiments.yaml.tmpl
    name: alert-templates-capacity-experiments
    options:
      disableNameSuffixHash: true

patches:
  - path: volume.yaml
