# PROMETHEUS RULES
# DO NOT REMOVE line above, used in `pre-commit` hook

groups:
  - name: pubsub-msk
    rules:
      - alert: MSKSharedPartitionsLimit
        # we're currently on 2xlarge instances that can handle 2000 partitions each
        expr: kafka_server_ReplicaManager_Value{name="PartitionCount", job="msk-shared"} >= 1950
        labels:
          team: infra
          group: kafka
        annotations:
          summary: "In MSK cluster {{ $labels.job }}, the instance {{ $labels.instance}} has total {{ $value }} partitions. It is approaching the recommended partitions limit. See https://docs.aws.amazon.com/msk/latest/developerguide/bestpractices.html#partitions-per-broker"
          runbook: "https://github.com/utilitywarehouse/documentation/blob/master/infra/operational/msk-ops.md#msk-shared-partitions-limit"
          dashboard: "https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/rrE2HgHVz/msk-kafka-metrics?orgId=1&refresh=30s&viewPanel=619"
          priority: P2
