# PROMETHEUS RULES
# DO NOT REMOVE line above, used in `pre-commit` hook

groups:
  - name: cumulus
    rules:
      - alert: CumulusPromtailNotResponding
        expr: |
          up{job="cumulus-promtail"} != 1
          or
          absent(up{job="cumulus-promtail"})
        for: 10m
        labels:
          team: infra
        annotations:
          description:
            "{{ $labels.instance }} Promtail service has been down for
            more than 10 minutes."
          summary: "Cumulus Promtail service is down"
      - alert: CumulusDown
        expr: |
          up{job="node-exporter-static", instance=~"cumulus-.*.:9100"} != 1
          or
          absent(up{job="node-exporter-static", instance=~"cumulus-.*.:9100"})
        for: 10m
        labels:
          team: infra
        annotations:
          description: Cumulus target "{{ $labels.instance }} has been down for
            more than 10 minutes."
          summary: "Cumulus is down"
