apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - files:
      - cumulus.yaml.tmpl=cumulus.yaml.tmpl
    name: alert-templates-cumulus

patches:
  - path: volume.yaml
