# PROMETHEUS RULES
# DO NOT REMOVE line above, used in `pre-commit` hook

groups:
  - name: wiresteward
    rules:
      - alert: WirestewardNodeDown
        expr: 'up{job="node-exporter-static", instance=~"^\\d\\.private-wiresteward.+$"} != 1 or absent(up{job="node-exporter-static", instance=~"^\\d\\.private-wiresteward.+$"})'
        for: 10m
        labels:
          team: infra
        annotations:
          description: "{{ $labels.instance }} reports down more than 10 minutes."
          summary: "Wiresteward node exporter job down"
      - alert: WirestewardSystemdServiceDown
        expr: 'node_systemd_units{state="failed", name=~"s3fs.service|wiresteward.service", instance=~"^\\d\\.private-wiresteward.+$"} != 0'
        for: 10m
        labels:
          team: infra
        annotations:
          description: "{{ $labels.instance }} reports systemd services down more than 10 minutes."
          summary: "Wiresteward node has failed important systemd services"
