# PROMETHEUS RULES
# DO NOT REMOVE line above, used in `pre-commit` hook

groups:
  - name: cert-manager
    rules:
      - alert: CertificatePastRenewalTime
        expr: 'certmanager_certificate_renewal_timestamp_seconds{namespace=~"kube-system|sys.*"} - time() < 0'
        for: 15m
        labels:
          team: infra
        annotations:
          summary: "Certificate {{ $labels.name }} in namespace {{ $labels.namespace }} is past renewal time"
