apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - files:
      - all.yaml.tmpl=all.yaml.tmpl
      - canary.yaml
      - daemonset.yaml.tmpl=daemonset.yaml.tmpl
      - logging.yaml.tmpl=logging.yaml.tmpl
      - metrics.yaml.tmpl
      - vault.yaml.tmpl

      - stock/container.yaml.tmpl
      - stock/missing_replicas.yaml.tmpl
      - stock/namespace_sync.yaml.tmpl
      - stock/storage.yaml.tmpl
      - stock/terraform_sync.yaml.tmpl
      - stock/team_detection.yaml
      - stock/vault-clients.yaml.tmpl
    name: alert-templates-common

patches:
  - path: volume.yaml
