# PROMETHEUS RULES
# DO NOT REMOVE line above, used in `pre-commit` hook

groups:
  - name: VaultSetup
    rules:
      - alert: VaultHighGCDuration
        expr: increase(vault_runtime_total_gc_pause_ns{kubernetes_namespace="sys-vault"}[1m])/ 1000 > 2000
        for: 10m
        labels:
          team: infra
        annotations:
          description: "{{ $labels.kubernetes_pod_name }} spent more than 2sec/min running GC"
          summary: "{{ $labels.kubernetes_pod_name }} is taking too long to GC"
          dashboard: https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault
      - alert: VaultScarceLeaderContacts
        expr: vault_raft_leader_lastContact{quantile="0.99",kubernetes_namespace="sys-vault"} > 200
        for: 10m
        labels:
          team: infra
        annotations:
          description: "{{ $labels.kubernetes_pod_name }} leader is taking more than 200ms to contact"
          summary: "{{ $labels.kubernetes_pod_name }} contact with leader degraded"
          dashboard: https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault
      # Adapted from https://github.com/giantswarm/vault-exporter/blob/master/vault-mixin/alerts.libsonnet
      - alert: VaultUninitialized
        expr: vault_initialized{kubernetes_namespace="sys-vault"} != 1
        for: 10m
        labels:
          team: infra
        annotations:
          description: "This may indicate an issue with the 'initializer' sidecar"
          summary: "{{ $labels.kubernetes_pod_name }} is uninitialized"
          dashboard: https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault
      - alert: VaultSealed
        expr: vault_sealed{kubernetes_namespace="sys-vault"} != 0
        for: 10m
        labels:
          team: infra
        annotations:
          description: "This may indicate an issue with the 'unsealer' sidecar"
          summary: "{{ $labels.kubernetes_pod_name }} is sealed"
          dashboard: https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault
      - alert: VaultActiveCount
        expr: count(vault_standby{kubernetes_namespace="sys-vault"} == 0) != 1
        for: 10m
        labels:
          team: infra
        annotations:
          description: |
            More or less than 1 active instance typically indicates a problem with leader election.
          summary: "There are {{ $value }} active Vault instance(s)"
          dashboard: https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault
      - alert: VaultUp
        expr: vault_up{kubernetes_namespace="sys-vault"} != 1
        for: 10m
        labels:
          team: infra
        annotations:
          description: |
            The exporter runs as a sidecar and should be able to connect to port 8200 on localhost.
          summary: "Vault exporter for '{{ $labels.kubernetes_pod_name }}' cannot talk to Vault."
          dashboard: https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault
      - alert: VaultServerUnreachable
        expr: probe_success{job="vault-server"} == 0
        for: 10m
        labels:
          team: infra
        annotations:
          description: "{{ $labels.instance }} has been down for more than 5 minutes."
          summary: Vault server is not reachable.
      - alert: VaultServerBlackboxTargetDown
        expr: up{job="vault-server"} != 1
        for: 10m
        labels:
          team: infra
        annotations:
          description: "{{ $labels.instance }} http probe job reports down more than 5 minutes."
          summary: Vault server http probe job down
