# PROMETHEUS RULES
# DO NOT REMOVE line above, used in `pre-commit` hook

groups:
  - name: VaultSetup
    rules:
      - alert: VaultHighGCDuration
        expr: increase(vault_runtime_total_gc_pause_ns{kubernetes_namespace="sys-vault"}[5m])/ 5000000000 > 5
        for: 10m
        labels:
          team: infra
        annotations:
          description: "{{ $labels.kubernetes_pod_name }} spent more than 5sec/min running GC"
          summary: "{{ $labels.kubernetes_pod_name }} is taking too long to GC"
          dashboard: "<https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault|link>"
      - alert: VaultScarceLeaderContacts
        expr: vault_raft_leader_lastContact{quantile="0.99",kubernetes_namespace="sys-vault"} > 200
        for: 10m
        labels:
          team: infra
        annotations:
          description: "{{ $labels.kubernetes_pod_name }} leader is taking more than 200ms to contact"
          summary: "{{ $labels.kubernetes_pod_name }} contact with leader degraded"
          dashboard: "<https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault|link>"
      # Adapted from https://github.com/giantswarm/vault-exporter/blob/master/vault-mixin/alerts.libsonnet
      - alert: VaultUninitialized
        expr: up{kubernetes_namespace="sys-vault",app="vault",vault_initialized="false"}
        for: 10m
        labels:
          team: infra
        annotations:
          description: "This may indicate an issue with the 'initializer' sidecar"
          summary: "{{ $labels.kubernetes_pod_name }} is uninitialized"
          dashboard: "<https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault|link>"
      - alert: VaultSealed
        expr: up{kubernetes_namespace="sys-vault",app="vault",vault_sealed="true"}
        for: 10m
        labels:
          team: infra
        annotations:
          description: "This may indicate an issue with the 'unsealer' sidecar"
          summary: "{{ $labels.kubernetes_pod_name }} is sealed"
          dashboard: "<https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault|link>"
      - alert: VaultActiveCount
        expr: count(vault_core_active{kubernetes_namespace="sys-vault"} == 1) != 1
        for: 10m
        labels:
          team: infra
        annotations:
          description: |
            More or less than 1 active instance typically indicates a problem with leader election.
          summary: "There are {{ $value }} active Vault instance(s)"
          dashboard: "<https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault|link>"
      - alert: VaultExporterDown
        expr: up{kubernetes_namespace="sys-vault",app="vault"} == 0 or absent(up{kubernetes_namespace="sys-vault",app="vault"})
        for: 10m
        labels:
          team: infra
        annotations:
          summary: "Vault not exporting metrics, we can't check vault state"
          dashboard: "<https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/1ysHZE2Wz/vault|link>"
