# PROMETHEUS RULES
# DO NOT REMOVE line above, used in `pre-commit` hook

groups:
  # The expressions are joining by multiplying on aws_rds_info, which is always 1, to get the team and instance class labels.
  - name: RDS
    rules:
      - alert: RDSFreeableMemory
        expr: '(last_over_time(aws_rds_freeable_memory_average[20m])  / on (dbinstance_identifier) group_left (team) aws_rds_memory_bytes) < 0.25'
        for: 15m
        labels:
          alerttype: stock
          alertgroup: RDS
        annotations:
          summary: "RDS instance {{$labels.dbinstance_identifier}} has less than 25% freeable memory"
          impact: "Running out of memory can result in rejected connections"
          link: "https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Best_Practice_Recommended_Alarms_AWS_Services.html#RDS"
          dashboard: "<https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/rds-cloudwatch/rds-cloudwatch?orgId=1&refresh=1m&from=now-12h&to=now&viewPanel=panel-60&var-instance={{ $labels.dbinstance_identifier }}|link>"
          action: |
            Low freeable memory means that there is a spike in database connections or that your instance may be under high memory pressure. 
            Check for memory pressure by monitoring the SwapUsage in addition to FreeableMemory. 
            If the instance memory consumption is frequently too high, this indicates that you should check your workload or upgrade your instance class.
            NOTE: `db.t4g.micro` is constantly under memory pressure, so it's usable only for testing that your connection setup works, but it's not suitable for dev usage.
            Consider upgrade at least to `db.t4g.small`.

      - alert: RDSCPUUtilization
        expr: '(last_over_time(aws_rds_cpuutilization_average{}[20m]) > 90) * on(dbinstance_identifier) group_left(team) aws_rds_info{}'
        labels:
          alerttype: stock
          alertgroup: RDS
        annotations:
          summary: "RDS instance {{$labels.dbinstance_identifier}} has high CPU utilisation"
          impact: "High CPU utilization can lead to very high response time and time-outs"
          link: "https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Best_Practice_Recommended_Alarms_AWS_Services.html#RDS"
          dashboard: "<https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/rds-cloudwatch/rds-cloudwatch?orgId=1&refresh=1m&from=now-12h&to=now&viewPanel=panel-42&var-instance={{ $labels.dbinstance_identifier }}|link>"
          action: |
            CPU utilization measures non-idle time.
            Consider using Enhanced Monitoring or Performance Insights to review which wait time is consuming the most of the CPU time (guest, irq, wait, nice, and so on). 
            Then evaluate which queries consume the highest amount of CPU. 
            If you can't tune your workload, consider moving to a larger DB instance class.
