# PROMETHEUS RULES
# DO NOT REMOVE line above, used in `pre-commit` hook

groups:
  - name: Storage
    rules:
      - alert: VolumeFillingUpin72h
        expr: ((predict_linear(kubelet_volume_stats_available_bytes[1h], 72 * 3600) < 0) and (kubelet_volume_stats_used_bytes / kubelet_volume_stats_capacity_bytes > 0.5)) * on (namespace) group_left(team) uw_namespace_oncall_team
        for: 2h
        labels:
          alerttype: stock
          alertgroup: storage
        annotations:
          summary: "Volume {{$labels.namespace}}/{{$labels.persistentvolumeclaim}} will fill up in 72h"
          impact: "Exhausting available disk space will most likely result in service disruption"
          action: "Investigate disk usage and adjust volume size if necessary."
          dashboard: <https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/919b92a8e8041bd567af9edab12c840c/kubernetes-persistent-volumes?orgId=1&refresh=10s&var-datasource=default&var-cluster=${ENVIRONMENT}-${PROVIDER}&var-namespace={{ $labels.namespace }}&var-volume={{ $labels.persistentvolumeclaim }}|link>
      - alert: VolumeFillingUpin6h
        expr: ((predict_linear(kubelet_volume_stats_available_bytes[1h], 6 * 3600) < 0) and (kubelet_volume_stats_used_bytes / kubelet_volume_stats_capacity_bytes > 0.5)) * on (namespace) group_left(team) uw_namespace_oncall_team
        for: 30m
        labels:
          alerttype: stock
          alertgroup: storage
        annotations:
          summary: "Volume {{$labels.namespace}}/{{$labels.persistentvolumeclaim}} will fill up in 6h"
          impact: "Exhausting available disk space will most likely result in service disruption"
          action: "Investigate disk usage and adjust volume size if necessary."
          dashboard: <https://grafana.$ENVIRONMENT.$PROVIDER.uw.systems/d/919b92a8e8041bd567af9edab12c840c/kubernetes-persistent-volumes?orgId=1&refresh=10s&var-datasource=default&var-cluster=${ENVIRONMENT}-${PROVIDER}&var-namespace={{ $labels.namespace }}&var-volume={{ $labels.persistentvolumeclaim }}|link>
