# PROMETHEUS RULES
# DO NOT REMOVE line above, used in `pre-commit` hook

groups:
  - name: pubsub-examples
    rules:
      - alert: ExampleFranzConsumerStopped
        expr: sum(rate(messaging_kafka_fetch_records_count_ratio_total{kubernetes_namespace="pubsub", app=~"example-consume-process-batch|example-consume-process-individually"}[5m])) == 0
        for: 30m
        labels:
          team: infra
          group: examples
        annotations:
          summary: "Example consumer {{ $labels.kubernetes_pod_name }} stopped consuming from topic {{ $labels.topic }}. Check the latest changes introduced in the app and cluster."
      - alert: ExampleFranzProducerStopped
        expr: sum(rate(messaging_kafka_produce_records_count_ratio_total{kubernetes_namespace="pubsub", app="example-producer"}[5m])) == 0
        for: 30m
        labels:
          team: infra
          group: examples
        annotations:
          summary: "Example producer {{ $labels.kubernetes_pod_name }} stopped producing to topic {{ $labels.topic }}. Check the latest changes introduced in the app and cluster."
      - alert: ExampleProximoConsumerStopped
        expr: rate(messages_consumed_total{kubernetes_namespace="pubsub", status="success", app="example-proximo-consumer"}[5m]) == 0
        for: 30m
        labels:
          team: infra
          group: examples
        annotations:
          summary: "Example proximo consumer {{ $labels.kubernetes_pod_name }} stopped consuming from topic {{ $labels.topic }}. Check the latest changes introduced in the app, proximo server or cluster."
      - alert: ExampleProximoProducerStopped
        expr: rate(messages_produced_total{kubernetes_namespace="pubsub", status="success", app="example-proximo-producer"}[5m]) == 0
        for: 30m
        labels:
          team: infra
          group: examples
        annotations:
          summary: "Example proximo producer {{ $labels.kubernetes_pod_name }} stopped producing to topic {{ $labels.topic }}. Check the latest changes introduced in the app, proximo server or cluster."
