# PROMETHEUS RULES
# DO NOT REMOVE line above, used in `pre-commit` hook

groups:
  - name: postgres-exporter
    rules:
      - alert: "PostgresExporterDown"
        expr: absent(postgres_exporter_build_info)
        for: 15m
        labels:
          team: infra
        annotations:
          summary: "Postgres Exporter is down"
          impact: "Postgres instances are not monitored"
          qonto_runbook: https://qonto.github.io/database-monitoring-framework/latest/runbooks/postgresql/SQLExporterDown
          action: |
            Check if postgres-exporter is running in sys-prom namespace.
            Check the logs.
            Restart pods.
