name: run-checks

on:
  pull_request:
    branches:
      - main

jobs:
  run-checks:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get -y install gettext git
      - name: Install Promtool
        run: |
          PROM_VERSION=$(curl -s https://api.github.com/repos/prometheus/prometheus/releases/latest | jq -r .tag_name)
          wget https://github.com/prometheus/prometheus/releases/download/${PROM_VERSION}/prometheus-${PROM_VERSION#"v"}.linux-amd64.tar.gz
          tar -xvf prometheus-${PROM_VERSION#"v"}.linux-amd64.tar.gz
          sudo mv prometheus-${PROM_VERSION#"v"}.linux-amd64/promtool /usr/local/bin/
          rm -rf prometheus-${PROM_VERSION}.linux-amd64 prometheus-${PROM_VERSION}.linux-amd64.tar.gz
      - name: Run ./check-rules script
        run: ./scripts/check-rules
